.searchbox {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  input[type='search'] {
    min-width: 300px;
    border-radius: 8px;
    background-color: #b92c2c;
  }
}
