.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  font-size: $font-size-smaller;
  color: #000000a3;

  .tag-list-item {
    font-size: inherit;
    display: block;
    padding: 2px 4px;
    background: #00000012;
    border-radius: 4px;
  }
}
