:root {
  color-scheme: light;
}

$table-header-foreground-color: #636363;
$table-header-background-color: #ebebeb;
$table-border-outside-color: #c7c7c7;
$table-border-inside-color: #dedede;
$table-row-background-color: #ffffff;
$table-row-background-color-alt: #f9f9f9;
$animation-duration: 0.15s;
$table-row-foreground-color-hover: #007c0c;
$table-row-background-color-hover: #e1f3e3;
$table-cell-background-color-hover: #cceecf;
$table-cell-background-color-active: #b5e5bb;
